body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.Button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cf1b33), color-stop(1, #b81838));
	background:-moz-linear-gradient(top, #cf1b33 5%, #b81838 100%);
	background:-webkit-linear-gradient(top, #cf1b33 5%, #b81838 100%);
	background:-o-linear-gradient(top, #cf1b33 5%, #b81838 100%);
	background:-ms-linear-gradient(top, #cf1b33 5%, #b81838 100%);
	background:linear-gradient(to bottom, #cf1b33 5%, #b81838 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf1b33', endColorstr='#b81838',GradientType=0);
	background-color:#cf1b33;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:24px;
	padding:16px 34px;
	text-decoration:none;
}
.Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b81838), color-stop(1, #cf1b33));
	background:-moz-linear-gradient(top, #b81838 5%, #cf1b33 100%);
	background:-webkit-linear-gradient(top, #b81838 5%, #cf1b33 100%);
	background:-o-linear-gradient(top, #b81838 5%, #cf1b33 100%);
	background:-ms-linear-gradient(top, #b81838 5%, #cf1b33 100%);
	background:linear-gradient(to bottom, #b81838 5%, #cf1b33 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b81838', endColorstr='#cf1b33',GradientType=0);
	background-color:#b81838;
}
.Button:active {
	position:relative;
	top:1px;
}
    
    
