<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="meetup-mates/">Home</a></li>
		        	<li><a href="meetup-mates/about">About</a></li>
	        		<li><a href="meetup-mates/cv">CV</a></li>
	        		<li><a href="meetup-mates/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://margoteck.github.io/meetup-mates/">github.com/meetup-mates</a></li>
				</ul>
			</footer>
		</body>
	</html>
